*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 280px;
    text-align: center;
    background-color: #0c0c0c;
    color: whitesmoke;
}


.button{
    background-color: whitesmoke;
     width: 100px; 
    height: 45px;
}
.button:hover{
    animation: swing;
     animation-duration: 0.5s;
     background-color:#F87652;
     color: whitesmoke;
     border-color: white;
     
}